.pageapp-login-input .field-title {color:#fff;opacity:0.6;font-weight:300;text-align:center}
.page-fullscreen{overflow-y:auto;}
.pageapp-login .pageapp-login-logo{padding-top:80px;padding-bottom:30px;}
.overlay.apply{position: sticky;position: -webkit-sticky; height: 100%; }
.page-fullscreen-content {transition:all linear 0.5s;top:-45px;margin-top:auto;left:50%;}
.footer .copyright-text {padding-top:0;border-top:0;}
.footer .footer-text {padding-bottom:10px;margin-bottom:0;border-bottom:0;}
.heading-strip i{line-height:75px;}
.heading-strip {padding-bottom:10px;margin-bottom:0;}
.content{margin-bottom:0;}
.user-list-4 { padding-top: 15px; margin-bottom: auto; padding-right:20px;padding-left:20px;}
.content{padding-left:0;padding-right:0}
.footer{position: fixed; bottom: 0; left: 0; right: 0;}
.page-content-scroll{overflow-x:hidden}
@media (max-width: 360px) { .pageapp-login-logo { display: block; } }
.heading-block{margin-bottom:unset}
.page-login-input textarea{ border: 1px solid #eaeaea; padding: 10px; width: 100%;border-radius: 3px !important;}
.content.notices{padding:20px;}
.speach-left{margin-left:10px;}
.speach-right{margin-right:10px;}
